.container {
  height: 600px;
  width: 400px;
  border-style: solid;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.results {
  border-style: solid;
  height: 20%;
  word-wrap: break-word;
  margin: 4px;
  font-size: 40px;
}

.buttons-panel {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 80%;
  max-width: 100%;
  margin: 4px;
}

.button {
  width: 80px;
  height: 80px;
  font-size: 20px;
}
