.container {
  padding-top: 5px;
  height: 600px;
  width: 400px;
  border-style: solid;
  border-radius: 10px;
  margin: auto auto auto auto;
  display: flex;
  background-color: dimgray;
  flex-direction: column;
}

.output-panel {
  border-style: solid;
  border-radius: 10px;
  background-color: beige;
  height: 20%;
  word-wrap: break-word;
  margin: 10px;
}

.equation {
  justify-content: flex-start;
  display: flex;
  height: 50%;
  font-size: 35px;
  padding-left: 8px;
}

.results {
  justify-content: flex-end;
  display: flex;
  height: 50%;
  font-size: 45px;
  font-weight: bold;
  padding-right: 4px;
}

#button-AC {
  background-color: red;
  color: white;
}

.buttons-panel {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 80%;
  max-width: 100%;
  margin: 4px;
}

.button {
  width: 80px;
  height: 80px;
  font-size: 40px;
  font-weight: 800;
  background-color: lightslategrey;
  color: white;
  border-radius: 20px;
}
